<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">~data</a>
      <a href="/now">/now</a>
      <a href="/uses">/uses</a>
      <a href="/blog">/blog</a>
    </nav>
    <!-- <h1>{{ page.title }}</h1> -->
    <section>
      {{ content }}
    </section>
    <footer>
      <hr>
      <!-- <nav style="float: left; width: 50%;">
        <a href="/">~data</a>
        <a href="/now">/now</a>
        <a href="/uses">/uses</a>
        <a href="/blog">/blog</a>
      </nav> -->
      <nav style="float: left; width: 50%;">
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>{{ item.name }}</a>
        {% endfor %}
      </nav>
      <div style="float: right; width: 50%;"><p align="right" style="font-family: var(--nc-font-mono);">⭐️From <a href="https://github.com/datastring">@datastring</a></p></div>
    </footer>
  </body>
</html>