<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">~data</a>
      <a href="/now">/now</a>
      <a href="/uses">/uses</a>
      <a href="/blog">/blog</a>
    </nav>
    <!-- <h1>{{ page.title }}</h1> -->
    <section>
      {{ content }}
    </section>
    <footer>
      <!-- &copy; to me -->
      <hr>
      <nav>
        <a href="/">~data</a>
        <a href="/now">/now</a>
        <a href="/uses">/uses</a>
        <a href="/blog">/blog</a>
      </nav>
      <p align="center" style="font-family: var(--nc-font-mono);">⭐️From <a href="https://github.com/datastring">@datastring</a></p>
    </footer>
  </body>
</html>